body {
    background-color: rgb(222, 225, 230);
}

h1 {
    font-family: 'Pacifico', cursive;
    color: rgb(21, 22, 22);
    text-align: left;
}

h2 {
    margin-top: 5%;
    text-align: center;
}

.title {
    padding-top: 15%;
}
