{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}

    <div class="Search">
        <h2>Search For a Recipe</h2>
        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-7 mx-auto content">
        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
        </div>
    </div>
    {% if results: %}
    {% for item in results: %}
    <div class="list">
            <li><a href="view/{{ item['id'] }}">{{ item['title'] }}</a></li>
            {% endfor %}
            {% endif %}
    </div>

{% include "footer.html" %}