{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}

    <div class="Search">
        <h2>Search For a Recipe</h2>
        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-7 mx-auto content">
        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
        </div>
    </div>
    {% if results: %}
        <p>Results</p>
        {% for item in results: %}
        <div class="list">
            <a href="view/{{ item['id'] }}">{{ item['title'] }}</a>
        {% endfor %}
    {% endif %}
        </div>
    {% with messages = get_flashed_messages() %} 
        {% if messages %} 
            {% for message in messages %} 
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

{% include "footer.html" %}